

<div class="home-container">
    <a asp-controller="WatchBook" asp-action="MovieView">  <!-- TODO load img form DB -->
        <img src="/img/MovieButton.jpg" />
    </a>
    <a asp-controller="WatchBook" asp-action="AnimeView">
        <img src="/img/AnimeButton.jpg" />
    </a>
</div>


<script src="~/js/site.js"></script>
<script language="javascript" type="text/javascript">
    searchBarOnOFF("searchbar-elem", false);
</script>