

<div class="row homeIteams">
    <a id="homeBtnSwitch" class="col homeImgGap homeBtnEfk" asp-area="" asp-controller="WatchBook" asp-action="AnimeView">
        <img class="col-md-12 homeBtnImg" src="/img/AnimeButton.jpg" />
    </a>
    <a class="col homeImgGap homeBtnEfk" asp-area="" asp-controller="WatchBook" asp-action="MovieView">
        <img class="col-md-12 homeBtnImg" src="/img/MovieButton.jpg" />
    </a>
</div>


<script language="javascript" type="text/javascript">
    document.getElementById("searchbar-elem").style.visibility = "hidden";
    document.getElementById("nav-setting-btn").style.visibility = "visible";
</script>