<div class="container-fluid contentBody">
	<div class="row settings">
		<div class="col-12 setting-title">
			<h3>Settings</h3>
		</div>

		<div class="col-6 settig-l">
			<h4>Set Database</h4>
		</div>
		<div class="col-6 settig-r">
			<!-- TODO Create / uplode DB -->
			<button class="elemColorStyle-1 elemActionStyle-1">Set</button>
			<button class="elemColorStyle-1 elemActionStyle-1">New</button>
		</div>

		<div class="col-6 settig-l">
			<h4>Create By list</h4>
		</div>
		<div class="col-6 settig-r">
			<!-- TODO Create .txt -->
			<button class="elemColorStyle-1 elemActionStyle-1">Create</button>
		</div>

		<div class="col-6 settig-l">
			<h4>Export Database</h4>
		</div>
		<div class="col-6 settig-r">
			<!-- TODO export DB -->
			<button class="elemColorStyle-1 elemActionStyle-1">Export</button>
		</div>


		<div class="col-12 setting-title">
			<h4>Set Search link</h4>
		</div>
		<div class="col-5">
			<p style="text-align: end">how to search link</p><!--TODO how to search link-->
			<input type="text" placeholder="https://...." class="elemColorStyle-1 fl-r tx-al-r" />
		</div>
		<div class="col-2 tx-al-cent">
			<p>how to search link</p><!--TODO how to search link-->
			<input type="text" placeholder="name-name" class="elemColorStyle-1 tx-al-cent" />
		</div>
		<div class="col-5">
			<p>how to search link</p><!--TODO how to search link-->
			<input type="text" placeholder="..../search" class="elemColorStyle-1" />
		</div>

		
	</div>
	
</div>

<script language="javascript" type="text/javascript">
	document.getElementById("searchbar-elem").style.visibility = "hidden";
	document.getElementById("nav-setting-btn").style.visibility = "hidden";
</script>