<div class="container-fluid contentBody">
	<div class="row settings">
		<div class="elem-center setting-title">
			<p>Settings</p>
		</div>


		<div>
			<p class="elem-center">Set Start Imgs</p>

			<div class="elem-center">
				<div id="setting-homescreen">
					<div class="home-container">
						<a onmouseover="optElemHover(this)" onmouseout="optElemHoverOff(this)">
							<span class="elem-hover-efk opt-0">Movie</span>
							<img class="" src="/img/MovieButton.jpg" />	<!-- TODO load img form DB -->
						</a>
						<a onmouseover="optElemHover(this)" onmouseout="optElemHoverOff(this)">
							<span class="elem-hover-efk opt-0">Anime</span>
							<img class="" src="/img/AnimeButton.jpg" /> <!-- TODO load img form DB -->
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="mrg-t7">
			<div class="elem-center">
				<p>Edit Genres</p>
				<div class="setting-genre-btn">
					<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7" onclick="hiddeShowOnID('setting-genres')">
						<img src="/img/wrench.png" />
					</button>
				</div>
			</div>

			<div id="setting-genres" class ="elem-center display-n">
				<div class="setting-genres-structure">

					<!--TODO load all Genre and sord to adc -->
					@for (var i = 1; i < 20; i++)
					{

						if ((i - 1) % 4 == 0)
						{
							@:<div class="setting-genre-box flex">
						}
								<div class="flex">
									<button class="elemColorStyle-2 elemActionStyle-2 mrg-t7">Genre @i</button>
								</div>
						if (i % 4 == 0 || i == 20)
						{
							@:</div>
						}
					}				
					<div class="flex" style="width:25%;">
						<button class="setting-genre-add elemColorStyle-2 elemActionStyle-2 mrg-t7">+ Add</button>					
					</div>
				</div>
			</div>
		</div>


		<div>
			<div class="elem-center">
				<p>Search with</p>
				<div>
					<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7" onclick="settingAddSearch('setting-search')">+ add Search</button>
				</div>
				
			</div>
			<div class="elem-center">
				<div id="setting-search">

				</div>
			</div>
		</div>
		


		<div class="elem-center mrg-t7">
			<p>Set Database</p>

			<div>
				<!-- TODO Create / uplode DB -->
				<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7">Set</button>
				<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7">New</button>
			</div>
		</div>


		<div class="elem-center">
			<p>Create By list</p>

			<div>
				<!-- TODO Create .txt -->
				<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7">Create</button>
			</div>
		</div>


		<div class="elem-center">
			<p>Export Database</p>

			<div>
				<!-- TODO export DB -->
				<button class="elemColorStyle-1 elemActionStyle-1 mrg-t7">Export</button>
			</div>
		</div>


	</div>	
</div>

<script language="javascript" type="text/javascript">
	document.getElementById("searchbar-elem").style.visibility = "hidden";
	document.getElementById("nav-setting-btn").style.visibility = "hidden";
</script>