<div class="container-fluid contentBody">
	<div class="row settings">
		<div class="elem-center setting-title">
			<p>Settings</p>
		</div>


		<div>
			<p class="elem-center">Set Start Imgs</p>

			<div class="elem-center">
				<div id="setting-homescreen">
					<div class="home-container">
						<a onmouseover="optElemHover(this)" onmouseout="optElemHoverOff(this)">
							<span class="elem-hover-efk opt-0">Movie</span>
							<img class="" src="/img/MovieButton.jpg" />	<!-- TODO load img form DB -->
						</a>
						<a onmouseover="optElemHover(this)" onmouseout="optElemHoverOff(this)">
							<span class="elem-hover-efk opt-0">Anime</span>
							<img class="" src="/img/AnimeButton.jpg" /> <!-- TODO load img form DB -->
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="mrg-t7">
			<div class="elem-center">
				<p>Edit Genres</p>
				<div class="setting-genre-btn">
					<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7" onclick="hiddeShowOnID('setting-genres')">
						<img src="/img/wrench.png" />
					</button>
				</div>
			</div>

			<div id="setting-genres" class ="elem-center display-n">
				<div class="setting-genres-structure">
										
					<div class="setting-genre-box">
						<!--TODO load all Genre and sord to ABC -->
						@for (var i = 1; i < 20; i++)
						{
							<div class="flex">
								<button class="genre elemColorStyle-2s elemActionStyle-2 mrg-t7" onclick="deletParentElem(this)">Genre @i</button>
							</div>						
						}	
						
						<div class="flex">
							<div id="setting-genre-new" class="flex display-n">
								<input class="elemColorStyle-2 elemActionStyle-2" placeholder="New Genre"/>
								<!-- TODO click on Save btn save in DB new Genre and add in Genre list-->
								<button class="elemColorStyle-2s elemActionStyle-2" onclick="hiddeShowSwitchIDs('setting-genre-new', 'setting-genre-add')">Save</button>
							</div>
							<button id="setting-genre-add" class="setting-genre-add elemColorStyle-2s elemActionStyle-2 mrg-t7" onclick="hiddeShowSwitchIDs('setting-genre-add', 'setting-genre-new')">+ Add</button>			
						</div>
					</div>

				</div>
			</div>
		</div>


		<div class="mrg-t7">
			<div class="elem-center">
				<p>Search with</p>
				<div>
					<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7" onclick="settingAddSearch('setting-search')">+ add Search</button>
				</div>				
				<div class="pad-t7">
					<span class="info" onmouseover="hiddeShowOnID('info-box')" onmouseout="hiddeShowOnID('info-box')">i</span>
					<span id="info-box" class="mrg-l5 display-n">
					Webside Name left<br /><br />

					link right<br />
					=> google.com/~name-~/....<br />
					between ~<br />
					name + blank between words<br />
					episode <br />
				</span>
				</div>
				
			</div>
			<div class="elem-center">
				<div id="setting-search">

				</div>
			</div>
		</div>
		


		<div class="elem-center mrg-t7">
			<p>Set Database</p>

			<div>
				<!-- TODO Create / uplode DB -->
				<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7">Set</button>
				<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7">New</button>
			</div>
		</div>


		<div class="elem-center">
			<p>Create By list</p>

			<div>
				<!-- TODO Create .txt -->
				<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7">Create</button>
			</div>
		</div>


		<div class="elem-center">
			<p>Export Database</p>

			<div>
				<!-- TODO export DB -->
				<button class="elemColorStyle-1s elemActionStyle-1 mrg-t7">Export</button>
			</div>
		</div>


	</div>	
</div>

<script language="javascript" type="text/javascript">
	document.getElementById("searchbar-elem").style.visibility = "hidden";
	document.getElementById("nav-setting-btn").style.visibility = "hidden";
</script>