
/* --- Web Colors --- */

/* Purple */
$col-pur-dark:   #5a2e98;
$col-pur-normal: #8c5ece; /*  (elems to klick -> hover text) */
$col-pur-bright: #a885da; /*  (elems klick text) */
$col-pur-light:  #c4ace6; /*  (elems border/ backgrount) */

/* Dark gray */
$col-gray-dark:   #010101; /*  (back if you neet the nather tow) */
$col-gray-normal: #0e0e0e; /*  (base backrount) */
$col-gray-bright: #1c1c1c; /*  () */
$col-gray-light:  #2e2e2e;

$col-gray-lightlight: #777; 

/*Colors*/
$text-col-dark:   #ccc; /*  *  */
$text-col-bright: #ddd; /*  **  */


/* --- Base Styles --- */

$base-corner-radius: 5px;

@mixin transition ($var) {
    -webkit-transition: $var;
    -moz-transition: $var;
    -o-transition: $var;
    transition: $var;
}

@mixin transform ($var) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -o-transform: $var;
    transform: $var;
}



/* --- Base Style --- */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
    background-color: $col-gray-bright;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

::-webkit-scrollbar-thumb:hover {
    background-color: $col-gray-lightlight;
}

::-webkit-scrollbar-track:horizontal {
    background-color: $col-gray-dark;
}


html {
    font-size: 14px;
    background-color: $col-gray-normal;
    position: relative;
    min-height: 100%;
}

body {
    background-color: transparent;
    color: white;
    position: relative;
}

header {
    background-color: $col-gray-bright;
    width: 100%;
}

p {
    margin: 0;
}

select {
    overflow-y: auto;
    background: $col-gray-bright;
    border: solid 1px $col-gray-lightlight;
    border-radius: $base-corner-radius;
    color: $col-gray-lightlight;
}

option:hover {
    background-color: $col-gray-light;
    color: $text-col-dark;
}

input[type="checkbox"] {
    cursor: pointer;
}

input:focus {
    outline: none;
}

a:hover {
    color: $col-pur-normal;
}

.btnStyle {
    color: $text-col-bright;
    background: $col-gray-bright;
    border-radius: $base-corner-radius;
    border: none;
    @include transition(0.5s);
}

.btnStyle:hover {
    background: $col-gray-light;
}



/*-----------------------------------------------------------------
                              Nav Bar
-----------------------------------------------------------------*/
.nav-img-size {
    width: 80%;
}

.nav-img-settings {
    width: 60%;
    float: right;
}

#searchbar-elem a {
    padding: 6px 6px;
}

#nav-setting {
    width: 64px;
}

#nav-setting button {
    border: none;
    padding: 0;
    margin: 1px 6px;
    background-color: transparent;
}


/*-----------------------------------------------------------------
                             inputs
-----------------------------------------------------------------*/

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    outline: none;
}

textarea,
#add-new-row input {
    background: $col-gray-bright;
    border-radius: $base-corner-radius;
    border: none;
    color: $col-gray-lightlight;
}

textarea:focus,
#add-new-row input:focus {
    background-color: $col-gray-light;
    color: $text-col-dark;
    border: none;
}

#add-new-row input[type="checkbox"],
.formSelectBox input[type="checkbox"] {
    appearance: none;
    float: left;
    margin: 0;
    margin-right: 5px;
    width: 1em;
    height: 1em;
    border: 0;
    border-radius: 3px;
    display: grid;
    place-content: center;
    @include transform(translateY(4px));
}

#add-new-row input[type="checkbox"]::before,
.formSelectBox input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    @include transform(scale(0));
    @include transition(120ms transform ease-in-out);
    box-shadow: inset 1em 1em #663399;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#add-new-row input[type="checkbox"]:checked::before,
.formSelectBox input[type="checkbox"]:checked::before {
    @include transform(scale(1));
}


/*-----------------------------------------------------------------
                         Search Bar
-----------------------------------------------------------------*/
.nav-searchbar {
    border: none;
    padding: 5px 10px;
}

#genres, #year, #sortBy {
    margin-top: 5px;
    position: absolute;
    padding: 5px 10px;
}

#genresSelect, #yearSelect,
#sortBySelect, #searchSub,
#inputSearch {
    float: left;
    margin-left: 10px;
}

#inputSearch {
    padding: 2px 10px;
}

.searchBar {
    border: none;
}

.formSelectBox ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.formSelectElement {
    width: 25%;
    float: left;
    color: $col-gray-lightlight;
}

#sortBy .formSelectElement {
    float: none;
    width: 100%;
}


/*-----------------------------------------------------------------
                         Content contayner
-----------------------------------------------------------------*/
@media (min-width: 1800px) {
    .contentBody {
        max-width: 1800px;
    }
}

@media (max-width: 1850px) {
    .contentBody {
        min-width: 1800px;
    }
}

.contentBody {
    margin-top: 20px;
    margin-bottom: 40px;
}

.contentNavStl {
    background-color: transparent;
    margin-bottom: 0.5rem;
    color: $text-col-bright;
    border: 0;
}

.supp-content-line {
    background: rgba(0, 0, 0, .7);
    border-radius: 0 0 $base-corner-radius $base-corner-radius;
    position: absolute;
    padding: 4px;
    height: 25px;
    width: 100%;
    top: 292px;
    left: 0;
    @include transition(0.3s);

    img {
        float: right;
    }
}

.supp-content-info {
    overflow: hidden;
    border-radius: 2px;
    float: left;

    p {
        background-color: #502987;
        @include transform(skew(345deg));
        border-radius: 2px;
        position: relative;
        overflow: hidden;
        height: 18px;
        width: 30px;
        text-align: center;
        font-size: 12px;
        margin: 0;
        left: -4px;
        color: $text-col-dark;
    }
}



/*-----------------------------------------------------------------
                            Home View
-----------------------------------------------------------------*/
.home-container {
    padding: 40px 0;
    display: flex;

    a {
        width: 50%;
        padding: 0;
        margin: 0 6px;
        display: flex;
        @include transform(translateY(3px));
        @include transition(0.45s);
    }

    a:hover {
        @include transform(translateY(-3px));
        @include transition(0.45s);
    }

    img {
        width: 100%;
    }
}


/*-----------------------------------------------------------------
                            Anime View
-----------------------------------------------------------------*/
.animeContentBox {
    display: flex;
    flex-wrap: wrap;
}

.rankMainControll {
    display: block;
    cursor: default;
    overflow: auto;
    margin-left: 13px;
    margin-right: 14px;
}

.rankControllName {
    float: left;
    color: $text-col-bright;
    font-weight: 500;
    font-size: 19px;
}

.animeElem {
    width: 220px;
    height: 373px;
    padding: 0;
    margin: 5px 13px;
    color: $text-col-dark;
    text-decoration: none;
}

.animeElem:hover {
    color: $col-pur-normal;
    @include transition(0.2s);
}

.animeImgElem {
    width: 100%;
    height: 85%;
    position: relative;
    vertical-align: top;
    display: inline-block;
    opacity: 1;
    text-decoration: none;
    @include transition(0.5s);

    div {
        background: rgba(0, 0, 0, .7);
        position: absolute;
        height: 292px;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        text-align: center;
        @include transition(all 0.3s ease);
        border-radius: $base-corner-radius $base-corner-radius 0 0;
    }
}

.a-img {
    vertical-align: top;
    position: absolute;
    overflow: hidden;
    border: 0 none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $base-corner-radius;
}


/*-----------------------------------------------------------------
                       Anime and Movie View
-----------------------------------------------------------------*/
.btn-show-watch-later {
    border: none;
    border-radius: $base-corner-radius;
    background-color: $col-gray-bright;
    @include transition(0.3s);

    img {
        width: 16px;
        height: 16px;
        margin-bottom: 3px;
    }
}

.btn-show-watch-later:hover {
    background: $col-gray-light;
}

.right-side-box {
    padding: 5px;
    border-radius: $base-corner-radius;
    background-color: $col-gray-dark;
    margin-top: 74px;

    a {
        text-decoration: none;
    }
}

.right-side-item-background {
    border-radius: $base-corner-radius;
    background-color: $col-gray-bright;
    margin: 0 0 5px 0;
    color: $text-col-dark;
    @include transition(0.5s);
}

.right-side-item-background-2 {
    border-radius: $base-corner-radius;
    background-color: $col-gray-light;
    margin: 0 0 5px 0;
    color: $text-col-dark;
    cursor: pointer;
    @include transition(0.5s);
}

.side-item-count p {
    padding-left: 10px;
}

.side-item-name {
    margin: 0px 2px;
    @include transition(0.3s);
}

.right-side-item {
    height: 115px;

    img {
        height: 115px;
        border-radius: $base-corner-radius;
        float: left;
        margin-right: 10px;
    }

    p {
        margin: 0 5px 0 0;
        padding: 0;
    }
}

#movie-cont-r,
#movie-cont-l {
    @include transition(0.5s);
}


/*-----------------------------------------------------------------
                            Movie View
-----------------------------------------------------------------*/
.control-line {
    display: flex;
    justify-content: center;
    margin-left: 64px;
}

.control-line button {
    margin: 0px 2px 8px;
}

.movie-elem {
    color: $col-gray-lightlight;
    text-decoration: none;
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 13.52%;
    height: 317px;
    margin: 0 0.28% 15px 0.28%;
    opacity: 1;
    @include transition(0.3s);
}

.movie-elem-small {
    height: 292px;
    width: 13.504%;

    .movie-text {
        height: 267px;
    }

    .supp-content-line {
        top: 267px;
    }
}

.movie-img {
    vertical-align: top;
    position: absolute;
    overflow: hidden;
    border: 0 none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $base-corner-radius;
}

.movie-text {
    background: rgba(0, 0, 0, .7);
    border-radius: $base-corner-radius $base-corner-radius 0 0;
    position: absolute;
    height: 292px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    @include transition(0.3s);

    p {
        position: relative;
        font-size: 20px;
        padding: 5px;
        top: 100px;
    }
}


.movieElemContainer {
    margin-top: 10px;
}

#movie-FSK {
    margin-left: 6px;
}

.movie-side-buffer {
    height: 40px;
    width: 100%;
}

#movie-cont-ru {
    @include transition(0.3s);
}

#movie-cont-r .right-side-item p {
    position: fixed;
    margin-left: 99px;
}


/*-----------------------------------------------------------------
                            Settings View
-----------------------------------------------------------------*/
.settings {
    color: $text-col-dark;
}

.settings p {
    font-size: 19px;
    font-weight: bold;
    margin: 5px 8px 5px 0;
}

.setting-title {
    margin-bottom: 20px;
}

.settings button {
    border: none;
    border-radius: 1px;
}

.settings input {
    border: none;
}

#setting-homescreen {
    width: 30%;
    background-color: $col-gray-bright;
    border-radius: $base-corner-radius;
    padding: 10px;
}

#setting-homescreen span {
    position: absolute;
    text-align: center;
    margin-top: 10px;
    font-size: 19px;
    width: 100%;
}

#setting-homescreen img:hover {
    opacity: 0.1;
    cursor: pointer;
    @include transition(0.2s);
}

#setting-homescreen .home-container {
    padding: 0;
}

.setting-genres-structure {
    width: 30%;
    background-color: $col-gray-bright;
    border-radius: 3px;
    margin-top: 5px;
}

.setting-genre-box div {
    width: 33%;
}

.setting-genre-box button {
    margin: 3px auto;
}

.setting-genre-add {
    margin: 3px auto;
    color: $col-pur-normal !important;
}


/*-----------------------------------------------------------------
                  AddNew View / Item View
-----------------------------------------------------------------*/
/*Both*/
#add-new-buy,
#item-buy {
    display: flex;
    margin: 10px 0;
}

#add-new-img img,
#item-img img {
    border-radius: $base-corner-radius;
    width: 100%;
}


/*Item View*/

#item-player-row {
    width: 1094px;
    margin-left: 10px;
}

#item-player-container,
#item-sidebar-container {
    padding: 0 10px;
    color: $col-gray-lightlight;
}

#item-palyer-episodes {
    width: 280px;
    background: $col-gray-dark;
    border-radius: $base-corner-radius;
}

#item-player {
    padding-bottom: 10px;

    img {
        height: 602px;
        width: 100%;
    }
}


#item-img {
    width: 20%;
}

#item-sidebar {
    width: 376px;
}

#item-name {
    color: $text-col-bright;
    font-size: 2rem;
}

#item-buy p {
    background-color: $col-gray-lightlight;
    color: $col-gray-normal;
    padding: 0 2px;
    border-radius: 2px;
    font-weight: 600;
}

#item-buy-none {
    height: 18px;
    width: 28px;
    border: solid 2px $col-gray-lightlight;
    border-radius: 2px;
}

#item-info {
    width: 80%;
    padding-left: 10px;
    font-size: 13.5px;
}

#item-text {
    line-height: 1.4rem;
}

.item-text-limit {
    overflow: hidden;
    height: 78px;
}

#item-info-l {
    width: 40%;
}

#item-info-r {
    width: 60%;
}

#item-family-row {
    padding: 10px 10px 0;
}

.item-family {
    margin-right: 10px;
    border: solid 3px $col-gray-bright;
    width: 11.5%;
    height: 8rem;
    border-radius: $base-corner-radius;
    overflow: hidden;
    font-size: 19px;
    position: relative;
    opacity: .5;
    @include transition(0.5s);

    img {
        position: absolute;
        width: 100%;
        top: -8rem;
    }

    p {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        line-height: 8rem;
        font-size: 19px;
    }
}

.item-family:hover {
    opacity: 1;
    border: solid 3px $col-pur-dark;
}




/*AddNew View*/
#add-new-row {
    color: #ccc;
    width: 45%;

    label {
        margin-right: 10px;
    }
}


#add-new-info {
    width: 80%;
    padding-left: 10px;
}

.add-new-frontText {
    width: 70px;
}

#add-new-name {
    margin-bottom: 10px;
}

#add-new-img {
    width: 27%;
}

#add-new-name,
#add-new-original-name {
    display: flex;
}

#add-new-text {
    width: 100%;
    min-height: 90px;
}

#add-new-titel {
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: 500;
}

#add-new-info-r,
#add-new-info-l {
    width: 50%;
}

#add-new-info-r input {
    color-scheme: dark;
}

#add-new-box {
    margin-top: 5px;
    position: absolute;
    padding: 5px 10px
}

#addGenres {
    padding: 5px 10px;
    margin-top: 5px;
    width: 280px;
    position: absolute;

    ul {
        padding: 0;
        margin: 0;
        flex-flow: wrap;
    }

    li {
        list-style: none;
        display: flex;
        width: 130px;
    }
}